<div class="row">
  <div class="col-lg-<%= widget.column_1_desktop_width %> col-md-<%= widget.column_1_width %> col-sm-<%= widget.column_1_tablet_width %> col-xs-<%= widget.column_1_mobile_width %>">
    <%= scrivito_tag(:div, widget, :column_1, class: 'list_item') %>
  </div>

  <div class="col-lg-<%= widget.column_2_desktop_width %> col-md-<%= widget.column_2_width %> col-sm-<%= widget.column_2_tablet_width %> col-xs-<%= widget.column_2_mobile_width %>">
    <%= scrivito_tag(:div, widget, :column_2, class: 'list_item') %>
  </div>
</div>